{{$status := "USER_STATUS_ACTIVE"}}
{{ if $.account_locked}}
  {{$status = "USER_STATUS_SUSPENDED"}}
{{end}}

{
  "objects": [
  {{ if eq $.type "user" }}
    {
      "id": "{{ $.id }}",
      "type": "user",
      "display_name": "{{ $.firstname }} {{ $.middlename -}} {{ $.lastname }}",
      "properties": {
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
        "email": "{{ $.email }}",
        "organization_id": "{{ $.organization }}",
        "status": "{{ $status }}",
        "user_id": "{{ $.id }}",
        "username": "{{ $.username }}"
      },
      "created_at": "{{ $.created }}"
    },
    {
      "id": "{{ $.email }}",
      "type": "identity",
      "display_name": "{{ $.firstname }} {{ $.middlename -}} {{ $.lastname }} (email)",
      "properties": {
            {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }}
          }
    },
    {
      "id": "{{ $.username }}",
      "type": "identity",
      "display_name": "{{ $.firstname }} {{ $.middlename -}} {{ $.lastname }} (username)",
      "properties": {
            {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }}
          }
    }
  {{ end }}
  
  {{ if eq $.type "user_group" }}
    {
      "id": "{{ $.name }}",
      "type": "group",
      "display_name": "{{ $.name }}",
      "properties": {
            {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }}
          }
    }
  {{ end }}
  ],
  "relations": [
  {{ if eq $.type "user" }}
    {
      "object_type": "user",
      "object_id": "{{ $.id }}",
      "relation": "identifier",
      "subject_type": "identity",
      "subject_id": "{{ $.email }}"
    },
    {
      "object_type": "user",
      "object_id": "{{ $.id }}",
      "relation": "identifier",
      "subject_type": "identity",
      "subject_id": "{{ $.username }}"
    }
  {{ end }}

  {{ if eq $.type "user_group" }}
  {{ range $i, $user := $.users }}
    {{ if $i }},{{ end }}
    {
      "object_type": "group",
      "object_id": "{{ $.name }}",
      "relation": "member",
      "subject_type": "user",
      "subject_id": "{{ $user.id }}"
    }
  {{ end }}
  {{ end }}
  ]
}
