go 1.23.7

use (
	./cli
	./plugins/auth0
	./plugins/azuread
	./plugins/azureadb2c
	./plugins/cognito
	./plugins/fusionauth
	./plugins/google
	./plugins/jumpcloud
	./plugins/ldap
	./plugins/okta
	./plugins/openapi
	./sdk
)
