go 1.21

use (
	./cli
	./magefiles
	./plugins/auth0
	./plugins/azuread
	./plugins/azureadb2c
	./plugins/cognito
	./plugins/fusionauth
	./plugins/google
	./plugins/ldap
	./plugins/okta
	./plugins/openapi
	./sdk
)
