{
  "objects": [
    {
      "key": "{{ $.user_id }}",
      "type": "user",
      "displayName": "{{ $.nickname }}",
      "updatedAt": "{{ $.updated_at }}"
      "properties":{
        "email": "{{ $.email }}",
        "picture": "{{ $.picture }}",
        {{ if $.user_metadata }}
        "aserto-allow-tenant-creation": "{{ index $.user_metadata "aserto-allow-tenant-creation" }}"
        {{ end }}
      }
    },
    {{ range $index, $element := $.identities }}
    {
      "key": "{{$element.user_id}}",
      "type": "identity"
    },
   
    {{ end }}
    {{ range $i, $element := $.roles }}
    {
      "key": "{{$element.name}}",
      "type": "group"
    }
    {{if last $i $.roles | not}}, {{end}}
    {{ end }}
  ]
  "relations":[
    {
    "relation": "manager",
            "subject": {
                "type": "user",
                "key": "{{$.user_id}}"
            },
            "object": {
                "type": "user",
                "key": "{{$.user_metadata.manager_id}}"
            }
    },
    {{ range $i,$element := $.identities }} 
    {
    "relation": "identifier",
            "subject": {
                "type": "user",
                "key": "{{$.user_id}}"
            },
            "object": {
                "type": "identity",
                "key": "{{$element.user_id}}"
            }
    }
    {{if last $i $.identities | not}}, {{end}}
    {{ end }}
  ]
}