{
  "objects": [
    {
      "key": "{{ $.user_id }}",
      "type": "user",
      "displayName": "{{ $.nickname }}",
      "created_at":"{{ $.created_at }}",
      "properties":{
        "email": "{{ $.email }}",
        "picture": "{{ $.picture }}"
      }
    },
    {
      "key": "{{ $.user_id }}",
      "type": "identity",
      "properties": {
        "verified": true,
        "provider": "auth0"
      }
    }
    
    {{ if ne $.email "" }}
    ,
      {
          "key": "{{ $.email }}",
          "type": "identity",
          "properties": {
            "verified": {{ .email_verified }},
            "provider": "auth0"
          }
      }
    {{ end }}

    {{ if $.user_metadata.IDENTITY_KIND_PHONE }}
    ,
      {
          "key": "{{ $.user_metadata.IDENTITY_KIND_PHONE }}",
          "type": "identity",
          "properties": {
            "verified": false,
            "provider": "auth0"
          }
      }
    {{ end }}

    {{ if $.user_metadata.IDENTITY_KIND_USERNAME }}
    ,
      {
          "key": "{{ $.user_metadata.IDENTITY_KIND_USERNAME }}",
          "type": "identity",
          "properties": {
            "verified": false,
            "provider": "auth0"
          }
      }
    {{ end }}

    {{ if $.roles }}, {{ end }}

    {{ range $i, $element := $.roles }}
      {{ if $i }},{{ end }}
      {
        "key": "{{$element.name}}",
        "type": "group"
      }
    {{ end }}
  ],
  "relations":[
      {
      "relation": "identifier",
              "subject": {
                  "type": "user",
                  "key": "{{$.user_id}}"
              },
              "object": {
                  "type": "identity",
                  "key": "{{$.user_id}}"
              }
      }
    {{ if ne $.email "" }}
    ,
      {
      "relation": "identifier",
              "subject": {
                  "type": "user",
                  "key": "{{ $.user_id }}"
              },
              "object": {
                  "type": "identity",
                  "key": "{{ $.email }}"
              }
      }
    {{ end }}
    {{ if $.user_metadata.IDENTITY_KIND_PHONE }}
    ,
      {
      "relation": "identifier",
              "subject": {
                  "type": "user",
                  "key": "{{ $.user_id }}"
              },
              "object": {
                  "type": "identity",
                  "key": "{{ $.user_metadata.IDENTITY_KIND_PHONE }}"
              }
      }
    {{ end }}

    {{ if $.user_metadata.IDENTITY_KIND_USERNAME }}
    ,
      {
      "relation": "identifier",
              "subject": {
                  "type": "user",
                  "key": "{{ $.user_id }}"
              },
              "object": {
                  "type": "identity",
                  "key": "{{ $.user_metadata.IDENTITY_KIND_USERNAME }}"
              }
      }
    {{ end }}

    {{ if $.roles }}, {{ end }}

    {{ range $i, $element := $.roles }}
      {{ if $i }},{{ end }}
      {
      "relation": "identifier",
              "subject": {
                  "type": "user",
                  "key": "{{$.user_id}}"
              },
              "object": {
                  "type": "group",
                  "key": "{{$element.name}}"
              }
      }
    {{ end }}
  ]
}