{
  "objects": [
    {
      "id": "{{ $.user_id }}",
      "type": "user",
      "displayName": "{{ $.nickname }}",
      "created_at":"{{ $.created_at }}",
      "properties":{
        "email": "{{ $.email }}",
        "picture": "{{ $.picture }}"
        {{ if $.user_metadata }}
        ,
        "aserto-allow-tenant-creation": "{{ index $.user_metadata "aserto-allow-tenant-creation" }}"
        {{ end }}
      }
    },
    {{ range $index, $element := $.identities }}
    {
      "id": "{{$element.user_id}}",
      "type": "identity"
    }
    {{ if $.roles }}, {{ end }}
   
    {{ end }}
    {{ range $i, $element := $.roles }}
    {
      "id": "{{$element.name}}",
      "type": "group"
    }
    {{if last $i $.roles | not}}, {{end}}
    {{ end }}
  ],
  "relations":[
    {
    "relation": "manager",
    "subject_type": "user",
    "subject_id": "{{$.user_id}}",
    "object_type": "user",
    "object_id": "{{$.user_metadata.manager_id}}"
    },
    {{ range $i,$element := $.identities }} 
    {
    "relation": "identifier",
    "subject_type": "user",
    "subject_id": "{{$.user_id}}",
    "object_type": "identity",
    "object_id": "{{$element.user_id}}"
    }
    {{if last $i $.identities | not}}, {{end}}
    {{ end }}
  ]
}