{{$status := "USER_STATUS_ACTIVE"}}
{{$verified := true}}

{{ if eq $.status "deprovisioned" }}
{{$status = "USER_STATUS_DEPROVISIONED"}}
{{$verified := false}}
{{ end }} 

{{ if $.blocked}}
{{$status = "USER_STATUS_SUSPENDED"}}
{{end}}
{
  "objects": [
    {
      "key": "{{ $.id }}",
      "type": "user",
      "displayName": "{{ $.profile.firstName }} {{ $.profile.lastName }}",
      "created_at":"{{ $.created }}",
      "properties":{
        "enabled": true,
        "status": "{{ $status }}",
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }}
        {{ range $key, $value := $.profile }}
        ,"{{ $key }}": {{ marshal $value }}
        {{ end }}
        ,"groups": [
          {{$s := separator ", "}}{{ range $index, $value := $.groups }}{{call $s}}"{{ $value.profile.name }}"{{ end }}
        ]
        ,"roles": [
          {{$s := separator ", "}}{{ range $index, $value := $.roles }}{{call $s}}"{{ $value.type }}"{{ end }}
        ]
      }
    },
    {
      "key": "{{ $.id }}",
      "type": "identity",
      "properties": {
        "kind": "IDENTITY_KIND_PID",
        "provider": "okta",
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
        "verified": true
      }
    }
    {{ if and (ne $.profile.email "") ($verified) }}
    ,
      {
          "key": "{{ $.profile.email }}",
          "type": "identity",
          "properties": {
            "kind": "IDENTITY_KIND_EMAIL",
            "provider": "okta",
            {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
            "verified": {{ $verified }}
          }
      }
    {{ end }}

    {{ if and ($.profile.mobilePhone) (ne $.profile.mobilePhone "") ($verified) }}
    ,
      {
          "key": "{{ phoneIso3166 $.profile.mobilePhone }}",
          "type": "identity",
          "properties": {
            "kind": "IDENTITY_KIND_PHONE",
            "provider": "okta",
            {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
            "verified": {{ $verified }}
          }
      }
    {{ end }}

    {{ if $.roles }}, {{ end }}

    {{ range $i, $element := $.roles }}
      {{ if $i }},{{ end }}
      {
        "key": "{{ $element.type }}",
        "type": "group",
        "displayName": "{{ $element.type }}-group",
        "properties":{
          {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }}
        }
      }
    {{ end }}
  ],
  "relations":[
    {
      "relation": "identifier",
              "subject": {
                  "type": "user",
                  "key": "{{ $.id }}"
              },
              "object": {
                  "type": "identity",
                  "key": "{{ $.id }}"
              }
      }
    {{ if and (ne $.profile.email "") ($verified) }}
    ,
      {
      "relation": "identifier",
              "subject": {
                  "type": "user",
                  "key": "{{ $.id }}"
              },
              "object": {
                  "type": "identity",
                  "key": "{{ $.profile.email }}"
              }
      }
    {{ end }}

    {{ if and ($.profile.mobilePhone) (ne $.profile.mobilePhone "") ($verified) }}
    ,
      {
      "relation": "identifier",
              "subject": {
                  "type": "user",
                  "key": "{{ $.id }}"
              },
              "object": {
                  "type": "identity",
                  "key": "{{ phoneIso3166 $.profile.mobilePhone }}"
              }
      }
    {{ end }}

    {{ if $.roles }}, {{ end }}

    {{ range $i, $element := $.roles }}
      {{ if $i }},{{ end }}
      {
      "relation": "member",
              "subject": {
                  "type": "user",
                  "key": "{{$.id}}"
              },
              "object": {
                  "type": "group",
                  "key": "{{$element.type}}"
              }
      }
    {{ end }}
  ]
}
