{
{{$email := $.primaryEmail}}
  "objects": [
  {{ if contains $.kind "admin#directory#user" }}
    {
      "key": "{{ $email }}",
      "type": "user",
      "displayName": "{{ $.name.fullName }}",
      "created_at":"{{ $.creationTime }}",
      "properties":{
        "id": "{{ $.id }}",
        "email": "{{ $email }}",
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
        {{ if $.recoveryPhone }}
        "phone": "{{ $.recoveryPhone }}",
        {{ end }}
        {{ if $.thumbnailPhotoUrl }}
        "picture": "{{ $.thumbnailPhotoUrl }}",
        {{ end }}
        {{ if $.isAdmin }}
        "isAdmin": true
        {{ else }}
        "isAdmin": false
        {{ end }}
      }
    },
    {
      "key": "{{ $email }}",
      "type": "identity",
      "properties": {
        "kind": "IDENTITY_KIND_EMAIL",
        "provider": "google-workspace",
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
        "verified": true
      }
    },
    {
      "key": "{{ $.id }}",
      "type": "identity",
      "properties": {
        "kind": "IDENTITY_KIND_PID",
        "provider": "google-workspace",
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
        "verified": true
      }
    }
  {{ end }}

  {{ if contains $.kind "admin#directory#group" }}
    {
      "key": "{{ $.email }}",
      "type": "group",
      "displayName": "{{ $.name }}",
      "properties": {
        "email": "{{ $.email }}",
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
        "id": "{{ $.id }}"
      }
    }
  {{ end }}
  ],
  "relations":[  
    {{ if contains $.kind "admin#directory#user" }}
    {  
      "relation": "identifier",
      "subject": {
        "type": "user",
        "key": "{{$email}}"
      },
      "object": {
        "type": "identity",
        "key": "{{$.id}}"
      }
    },
    {  
      "relation": "identifier",
      "subject": {
        "type": "user",
        "key": "{{$email}}"
      },
      "object": {
        "type": "identity",
        "key": "{{$email}}"
      }
    }
    {{ end }}

    {{ if contains $.kind "admin#directory#group" }}
      {{ range $i, $element := $.users }}

      {{ if $i }},{{ end }}
      {{ $subject_type := $element.type }}

      {{ if contains $element.type "USER" }}
        {{ $subject_type = "user" }}
      {{ end }}
      {{ if contains $element.type "GROUP" }}
        {{ $subject_type = "group" }}
      {{ end }}
      {
        "relation": "member",
        "subject": {
            "type": "{{$subject_type}}",
            "key": "{{$element.email}}"
        },
        "object": {
            "type": "group",
            "key": "{{$.email}}"
        }
      }
      {{ end }}
    {{ end }}
  ]
}
