{{$status := "USER_STATUS_ACTIVE"}}
{{ if ne $.accountEnabled true }}
{{$status = "USER_STATUS_SUSPENDED"}}
{{end}}

{
{{$email := $.mail}}
{{ if not $.mail}}
{{$email = $.userPrincipalName}}
{{end}}
  "objects": [
    {
      "id": "{{ $.id }}",
      "type": "user",
      "displayName": "{{ $.displayName }}",
      "created_at":"{{ $.createdDateTime }}",
      "properties":{
        "enabled": true,
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
        "email": "{{ $email }}",
        "status": "{{ $status }}"
      }
    },
    {
      "id": "{{ $email }}",
      "type": "identity",
      "properties": {
        "verified": true,
        "provider": "azuread",
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
        "kind": "IDENTITY_KIND_EMAIL"
      }
    },
    {
      "id": "{{ $.id }}",
      "type": "identity",
      "properties": {
        "verified": true,
        "provider": "azuread",
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
        "kind": "IDENTITY_KIND_PID"
      }
    }
    {{ if $.mobilePhone }}
    ,
      {
          "id": "{{ $.mobilePhone }}",
          "type": "identity",
          "properties": {
            "verified": false,
            "provider": "azuread",
            {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
            "kind": "IDENTITY_KIND_PHONE"
          }
      }
    {{ end }}
  ],
  "relations":[  
    {
      "object_type": "identity",
      "object_id": "{{$.id}}",
      "relation": "identifier",
      "subject_type": "user",
      "subject_id": "{{$.id}}"
    },
    {
      "object_type": "identity",
      "object_id": "{{$email}}",
      "relation": "identifier",
      "subject_type": "user",
      "subject_id":  "{{$.id}}"
    }
    {{ if $.mobilePhone }}
    ,
    {
      "object_type": "identity",
      "object_id": "{{$.mobilePhone}}",
      "relation": "identifier",
      "subject_type": "user",
      "subject_id": "{{$.id}}"
    }
    {{ end }}
  ]
}
