{{$status := "USER_STATUS_ACTIVE"}}
{{ if ne $.accountEnabled true }}
{{$status = "USER_STATUS_SUSPENDED"}}
{{end}}

{
{{$email := $.mail}}
{{ if not $.mail}}
{{$email = $.userPrincipalName}}
{{end}}
  "objects": [
    {
      "key": "{{ $.id }}",
      "type": "user",
      "displayName": "{{ $.displayName }}",
      "created_at":"{{ $.createdDateTime }}",
      "properties":{
        "enabled": true,
        {{ fromEnv "connection_id" "ASERTO_CONNECTION_ID" }},
        "email": "{{ $email }}",
        "status": "{{ $status }}"
      }
    },
    {
      "key": "{{ $email }}",
      "type": "identity",
      "properties": {
        "verified": true,
        "provider": "azuread",
        "kind": "IDENTITY_KIND_EMAIL"
      }
    },
    {
      "key": "{{ $.id }}",
      "type": "identity",
      "properties": {
        "verified": true,
        "provider": "azuread",
        "kind": "IDENTITY_KIND_PID"
      }
    }
    {{ if $.mobilePhone }}
    ,
      {
          "key": "{{ $.mobilePhone }}",
          "type": "identity",
          "properties": {
            "verified": false,
            "provider": "azuread",
            "kind": "IDENTITY_KIND_PHONE"
          }
      }
    {{ end }}
  ],
  "relations":[  
    {  
      "relation": "identifier",
      "subject": {
        "type": "user",
        "key": "{{$.id}}"
      },
      "object": {
        "type": "identity",
        "key": "{{$.id}}"
      }
    },
    {  
      "relation": "identifier",
      "subject": {
        "type": "user",
        "key": "{{$.id}}"
      },
      "object": {
        "type": "identity",
        "key": "{{$email}}"
      }
    }
    {{ if $.mobilePhone }}
    ,
    {  
      "relation": "identifier",
      "subject": {
        "type": "user",
        "key": "{{$.id}}"
      },
      "object": {
        "type": "identity",
        "key": "{{$.mobilePhone}}"
      }
    }
    {{ end }}
  ]
}
